/* .mainBody{
}
*/
.startButtonsDiv{
    display: inline;
} 
.signUpDiv{
    display: none;
}
.logInDiv{
    display: none;
}
.dashboardDiv{
    display: none;
}
/* .dashboardButtonsDiv{
    display: inline;
}
.dashboardListDiv{
    display: inline;
}
*/
.accountSettingsDiv{
    display: none;
}